@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #dad5cd;
  --foreground: #0d0b09;
  --primary: #134b34;
  --primary-foreground: #f8f5ef;
  --secondary: #5c7e61;
  --secondary-foreground: #f8f5ef;
  --accent: #b15c3a;
  --accent-foreground: #f8f5ef;
  --card: #e5e1da;
  --card-foreground: #0d0b09;
  --popover: #ebe7e1;
  --popover-foreground: #0d0b09;
  --muted: #d3cfc7;
  --muted-foreground: #59514a;
  --border: #bcb7ac;
  --input: #c9c3ba;
  --ring: #b15c3a;
  --destructive: #e7000b;
  --chart-1: #b15c3a;
  --chart-2: #134b34;
  --chart-3: #5c7e61;
  --chart-4: #c19f61;
  --chart-5: #834e38;
  --sidebar: #d6d0c7;
  --sidebar-foreground: #0d0b09;
  --sidebar-primary: #134b34;
  --sidebar-primary-foreground: #f8f5ef;
  --sidebar-accent: #b15c3a;
  --sidebar-accent-foreground: #f8f5ef;
  --sidebar-border: #bcb7ac;
  --sidebar-ring: #b15c3a;
  --radius: 0.625rem;
  --tree: #1e2a24;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-tree: var(--tree);
}

.dark {
  --background: #061009;
  --foreground: #e0e7e0;
  --primary: #39775b;
  --primary-foreground: #030905;
  --secondary: #446849;
  --secondary-foreground: #e0e7e0;
  --accent: #d0724c;
  --accent-foreground: #030905;
  --card: #0f1c13;
  --card-foreground: #e0e7e0;
  --popover: #0e1912;
  --popover-foreground: #e0e7e0;
  --muted: #18241c;
  --muted-foreground: #7d8a7d;
  --border: #1e2d23;
  --input: #1a281f;
  --ring: #d0724c;
  --destructive: #ee3532;
  --chart-1: #d0724c;
  --chart-2: #39775b;
  --chart-3: #55815b;
  --chart-4: #c69e58;
  --chart-5: #a25c41;
  --sidebar: #030905;
  --sidebar-foreground: #e0e7e0;
  --sidebar-primary: #39775b;
  --sidebar-primary-foreground: #030905;
  --sidebar-accent: #d0724c;
  --sidebar-accent-foreground: #030905;
  --sidebar-border: #121e16;
  --sidebar-ring: #d0724c;
  --tree: #94a38f;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
